
body {
    color: #526066;
}

h2,
h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

.menu{
    display: flex;
    justify-content:flex-start;
    list-style: none;
    height: 100%;
    padding:0 0 3em;
    padding: 20px;
}

li{
    padding-right: 10px;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color:black;
    display: block;
    text-align: center;
    padding: 14px 16px;  
    text-decoration: none;
} 

.poli{
    color: #ddd;
}

.banner {
    background: transparent
    0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 3.125em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}
.pricing-tables,
.information {
    max-width: 980px;
    margin: 0 auto;
}
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

.pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}

.pricing-table-free .pricing-table-header {
    background: black;
}

.pricing-table-biz .pricing-table-header {
    background: black;
}

.pricing-table-header {
    background: #111;
    color: #fff;
}
.pricing-table-header h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;
}

.pricing-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
.pricing-table-price span {
    display: block;
    text-transform: uppercase;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    *color: #fff;
}

.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}

.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: black;
    color:white;
    text-align: center;
}
.footer a {
    color: black;
}

@media (min-width: 767px) {
    .banner-head {
    font-size: 4em;
}
.pricing-table {
    margin-bottom: 0;
    }
}


@media (min-width: 480px) {
    .banner {
    height: 400px;
    }
    .banner-head {
    font-size: 3em;
    }
}